@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

  /**** FONTS ****/
  $ff-main: 'Syne', sans-serif;
  $ff-heading: 'Cormorant Garamond', serif;

  /**** COLORS ****/
  $clr-black: #070403;
  $clr-alt1-brown: #5F4C3D;
  $clr-alt2-brown: #695748;
  $clr-brown: #552D19;
  $clr-lgt-brown: #A49589;
  $clr-bgt-brown: #8E5734;

  /****  ****/
