@import 'variables';

.slides {
  display: grid;
  > .slide {
    grid-area: 1 / -1;
  }

  > button {
    cursor: pointer;
    appearance: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 40%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    > span {
      font-size: 21px;
      color: $clr-lgt-brown;
      background-color: $clr-black;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid transparent;
      border-radius: 50%;
      transition: all 400ms ease;

      &:hover {
        color: $clr-black;
        background-color: $clr-lgt-brown;
        border: 2px solid $clr-black;
      }
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: -50%;
    }
    &:last-child {
      right: -50%;
    }
  }

  
}

/* .slide {
  //transform-style: preserve-3d;
  // border: solid 1px red;

  // &[data-active] {
  //   .slideContent > * {
  //     transform: none;
  //     opacity: 1;
  //   }
  // }
} */

.slideContent {
  width: 30vw;
  height: 40vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;

  display: grid;
  align-content: center;

  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;

  .slideSubtitle,
  .slideTitle {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
  }

  .slideSubtitle::before {
    content: "";
  }

  .slideDescription {
    margin: 0;
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
  }
}

.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;

  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;

  .slideBackground {
    opacity: 0.2;
    transform: none;
  }

  .slideContentInner {
    opacity: 1;
  }

  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;

    transform: perspective(1000px);

    &:hover {
      transition: none;
      transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg));
    }
  }
}

@media screen and (max-width:1050px) {
  .slideContent {
    width: 50vw;
    height: 90vh;
  }

  .slides {

    > button {
      &:first-child {
        left: -25%;
      }
      &:last-child {
        right: -25%;
      }
    }
  }
}

@media screen and (max-width:650px) {
  .slideContent {
    width: 90vw;
    height: 75vh;
  }

  .slides {

    > button {

      > span {
        font-size: 21px;
        width: 45px;
        height: 45px;
        background-color: $clr-lgt-brown;
        color: $clr-black;
        border: 2px solid $clr-black;
      }
      &:first-child {
        left: -5%;
      }
      &:last-child {
        right: -5%;
      }
    }
  }
}
